{% set title="Troop 485 | Event Pages" %}
{% set basepath="../" %}

{% extends "base.html" %}

{% block main %}
<div class="container" id="main">

        <div class="row">
            <div class="box col-md-12">
                <div id="event-list-box">
                    <hr>
                    <h2 class="intro-text text-center">Event Pages</h2>
                    <hr>
                    <ul id="event-list"></ul>
                    <div class="accordion-group">
                        <button class="viewmore btn btn-default" data-toggle="collapse" href="#collapse" onclick="if(this.innerHTML === 'Show Archived Event Pages') {this.innerHTML = 'Hide Archived Event Pages'} else {this.innerHTML = 'Show Archived Event Pages'}">Show Archived Event Pages</button>
                        <div id="collapse" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <p><b>Archived Event Pages:</b><br>These are no longer maintained, and may be outdated. They are kept only for historical reasons. If you are a SiC, however, this may be helpful to you.<br></p>
                                <ul id="archived-event-list"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <a name="event"></a>
        <div class="row">
            <div class="box col-md-12">
                <hr>
                <h2 class="intro-text text-center">Create New Event Page</h2>
                <hr>
                <p>
                    When choosing a name, try to add the current year to the name so people can differentiate between the same event on different years. You can view a guide to event pages
                    <a href="https://docs.google.com/presentation/d/1RfAZvUzIIWP8U3rwf0ORi3J88hB4p1QkhhW9qJENGsY/edit">here</a>. If you want a hidden event page(link is required to access), 
                    an custom link(for a larger event), or need custom featues, you can contact the webmaster.</b>
                </p>
                
                <label>Choose An Event Name(You can change this later):</label>
                <input type="text" id="name" class="form-control">

                <p id="error" class="text-danger"></p>
                <button class="btn btn-primary form-control" id="create-event-page">Create event page!</button>
            </div>
        </div>
    </div>
{% endblock %} 
{% block js %}   
<script>
       // load all current event pages
        firebase.database().ref('/events/').on('child_added', data => {
            let name = data.val().title;
            
            let id;
            if (data.val().archived === true) {
                id = '#archived-event-list';
            } else {
                id = '#event-list';
            }
            
            // hidden attribute can be turned on to prevent event page from showing up
            if (data.val().hidden !== true) {
                $(id).prepend(`
                    <li>
                        <a class="name" href="../event.html?event=${data.key}">${name}</a>
                    </li>
                `);
            }
        });
        

        $('#create-event-page').click(() => {
            $('#error').html('');
            
            // use default name if no title
            let title = $('#name').val();
            if (title == '' || title == undefined || title == null) {
                title = 'Untitled event page';
            }
            
            // push new event to firebase
            let push = firebase.database().ref('/events/').push({
                title: '',
                key: '',
                description: ''
            });
            let eventId = push.key;
            let accessKey = Math.random().toString(36).substring(2, 15);
            
            firebase.database().ref(`/events/${eventId}/`).set({
                title: title,
                key: accessKey,
                description: `
                    This event has not been edited yet.<br> <b>Owner</b>:
                    You (or anyone else you choose) will only be able to edit
                    the page with this link:
                    <a href="/event.html?event=${eventId}&key=${accessKey}">
                    https://t485.org/event.html?event=${eventId}&key=${accessKey}</a>. Click the
                    above edit button and then click on this paragraph or the page
                    title to edit that element. After editing a paragraph, <b>click
                    save changes in the toolbar that pops up to save your changes</b>.
                `
            });
            
            
            // show loading screen
            $('#main').hide();
            $('#loading').show();
            
            // post message to #general channel on Slack
            $.post(
                'https://hooks.slack.com/services/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',
                'payload=' + JSON.stringify({
                    text: 'New Event Page Created:',
                    attachments: [{
                        fallback: `A new event page was created: <${title}|https://t485.org/event.html?event=${eventId}>.`,
                        title: title,
                        title_link: `https://t485.org/event.html?event=${eventId}`,
                        text: `Go to <https://t485.org/event.html?event=${eventId}> to view the content`,
                        footer: 'This is a T485 event page automated message'
                    }]
                }),
                () => {
                    // once done posting message redirect to event.html
                    window.location.href = `/event.html?event=${eventId}&key=${accessKey}`;
                }
            );
            window.location.href = `/event.html?event=${eventId}&key=${accessKey}`;
        });
</script>
{% endblock %}