{% set title="Troop 485 | Directory" %}
{% set basepath="/" %}

{% extends "base.html" %}

{% block main %}

    <div class="container" id="content">
        <div class="row" id="search">
            <div class="box col-xs-12">
                <hr>
                <h2 class="intro-text text-center">Directory</h2>
                <hr>
                The directory is currently unavailable. Please use the spreadsheet as we fix this issue.
                If you have any questions, please contact Jeffrey Meng.
            </div>
        </div>
</div>
</div>

{% endblock %}

 {% block js %}
<script src="js/tabletop.min.js"></script>
<script src="js/directory.js"></script>

 {% endblock %}   
