{% set title="Troop 485 | Webmaster Console" %}
{% set basepath="/" %}

{% extends "base.html" %}

{% block main %}
    <div class="container" id="content" style="display: none;">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Event Pages Manger</h2>
                    <hr>
                </div>
                <div class="col-md-12">
                    <ul id="event-pages-list"></ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}

    
{% block js %}
    <script>
        // to prevent prompt from blocking script
        setTimeout(() => {
            // if (true) {
            if (prompt('Enter the password') == 'besttroopjob229') {
                $('#content').show();
            } else {
                alert('Wrong password!');
            }
        }, 1);
        
        
        
        // get event pages data
        firebase.database().ref('/events/').once('value', snapshot => {
            const data = snapshot.val();
            
            for (let id in data) {
                const link = `https://t485.org/event.html?event=${id}&key=${data[id].key}`;
                $('#event-pages-list').append(`
                    <li id="${id}"> <button class="archive">${data[id].archived ? 'Archived' : 'Unarchived'}</button> <button class="status">${data[id].hidden ? 'Hidden' : 'Shown'}</button> <a href="${link}">${link}</a> <span>${data[id].title}</span></li>
                `);
            }
            
            // toggle archive button
            $('.archive').click(e => {
                const isUnarchived = e.target.innerHTML != 'Archived';
                
                firebase.database().ref(`/events/${e.target.parentElement.id}/archived`).set(isUnarchived);
                e.target.innerHTML = isUnarchived ? 'Archived' : 'Unarchived';
            });
            
            // toggle status button (to hide an event page)
            $('.status').click(e => {
                const isShown = e.target.innerHTML != 'Hidden';

                firebase.database().ref(`/events/${e.target.parentElement.id}/hidden`).set(isShown);
                e.target.innerHTML = isShown ? 'Hidden' : 'Shown';
            });
        });
    </script>
{% endblock %}