@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}


#header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  width: auto;
}

.hidden {
  display: none !important; /* hidden and invisible are ALWAYS applied*/
}

.invisible {
  visibility: hidden !important; /* hidden and invisible are ALWAYS applied*/
}

label:not(.custom-control-label) {
  font-weight: bold;
}

/* Feedback */
.feedback-btn {
  background-color: green;
  color: white;
  box-shadow: none;

  &:hover, &:focus {
    background-color: #006600;
    box-shadow: 0 0 5px #000;
    color: white;
  }
}

.feedback-box {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.to-top-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: black;
  z-index: 500;

}

.to-top-svg {
  height: 32px;
  width: 32px;
  z-index: 500;

}

a.link {

  color: #007bff !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;


  &:hover {
    color: #0056b3 !important;
    text-decoration: underline !important;
  }

}

$footerHeight: 118px;
.content {
  min-height: calc(100vh - 118px);
}

.footer {
  height: 118px;
}

// Quick fix
.row {
  margin-left: 0;
}

//loader
.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
       transform: scaleY(1.0);
       -webkit-transform: scaleY(1.0);
     }
}