{% set page = "Template" %}
{% extends "base.njk" %}
{% block main %}
	<div class="row">
		<div class="box">
			<div class="col-lg-12">
				<h2 class="primary-heading text-center">
					Troop Meeting: 12/1/19
				</h2>

				<hr>
				<h4>Quick Links</h4>
				<ul>
					<li><a class="link">Jump to Meeting Minutes</a> (<a class="link">View externally</a>)</li>
					<li><a class="link">Jump to Agenda</a> (<a class="link">View externally</a>)</li>
					<li><a class="link">Jump to Attendance</a> (<a class="link">View externally</a>)</li>

				</ul>
				<h4>Meeting Minutes</h4>
				<p>
					- heoa
				</p>
				<h4>Agenda</h4>
				<p>
					- Blax
				</p>
				<h4>Attendance</h4>

			</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}

{% endblock %}