{% set page = "Logout" %}
{% set path = "account/logout" %}
{% set preserveState = true %}
{% extends "base.njk" %}

{% block main %}

<div class="row col-lg-12">
    <div class="box w-100">
        <div class="col-lg-12">
            <h2 class="primary-heading">Logout</h2>

            <div id="alerts">

            </div>

        </div>
    </div>
</div>

{% endblock %}