{% set title = "Account Settings" %}
{% set page = "Account Settings" %}
{% extends "base.html" %}

{% block main %}

<div class="row col-lg-12">
	<div class="box w-100">
		<div class="col-lg-12">
			<h2 class="primary-heading">Account Settings</h2>

			<table class="table">
				<tbody>
				<tr>
					<td>Email</td>
					<td><span class="user-email">Loading...</span><br><a class="link">Change</a></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><a class="link">Update password</a></td>
				</tr>
				<tr>
					<td>Delete Account</td>
					<td>Please <a href="mailto:jeffkmeng@gmail.com?subject=Delete%20My%20T485.org%20Account">email the webmaster</a> if you would like to delete your account.</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}